<table>
<tr><th>#</th><th>Player#Btag</th><th>Hero</th><th>Place</th><th>Time Started</th><th>Time Finished</th><th></th></tr>
{{#context}}
<tr>
<td>#</td><td>{{player}}</td><td><img src="{{heroImageLink}}"></td><td>{{score}}</td><td>{{timeStarted}}</td><td>{{timeFinished}}</td>
</tr>
{{/context}}
</table>